{% if app.flashes('error') is not empty %}
    <div class="alert alert-danger">
        {% for message in app.flashes('error') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
